@model IEnumerable<Hrm_SystemCore.Models.tblCity>

@{
    ViewBag.Title = "City";
}

<h2>Cities</h2>

<p>
    @Html.ActionLink("Create New City", "Create")
</p>
<table class="table table-striped table-hover table-bordered table-condensed" >
    <tr>
        <th>
           City
        </th>
        <th>
            Province
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cty_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProvince.prov_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
