@model Hrm_System.Models.tblDepartment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblDepartment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.dpt_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dpt_id)
            @Html.ValidationMessageFor(model => model.dpt_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dpt_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dpt_name)
            @Html.ValidationMessageFor(model => model.dpt_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dpt_desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dpt_desc)
            @Html.ValidationMessageFor(model => model.dpt_desc)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
