@model Hrm_System.Models.tblContractState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblContractState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cntrct_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cntrct_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cntrct_st_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cntrct_st_desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cntrct_st_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
