@model IEnumerable<Hrm_System.Models.tblCours>

    @{
        ViewBag.Title = "Training Courses";
    }

    <h2>Training Courses</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-hover table-bordered table-condensed " id="table1">
        <thead>
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Course Duration
                </th>
                <th>
                    Description
                </th>
                <th>
                    Course Type
                </th>
                <th></th>
            </tr>
</thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.course_nm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.course_dur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.course_descr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblCourseType.type_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.course_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.course_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.course_id })
                    </td>
                </tr>
            }

    </table>
