@model Hrm_System.Models.tblEmplStatu

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblEmplStatu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stat_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stat_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stat_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stat_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stat_desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stat_desc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
