@model IEnumerable<Hrm_System.Models.tblEmplStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-bordered table-condensed" id="table1" >
   <thead>
    <tr>
        <th>
           Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
 </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stat_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stat_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
