@model Hrm_System.Models.tblPositionHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblPositionHistory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ph_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ph_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblEmployee.emp_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblEmployee.emp_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblPosition.pos_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblPosition.pos_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblDepartment.dpt_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblDepartment.dpt_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ph_sal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ph_sal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblBranch.br_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblBranch.br_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ph_sDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ph_sDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ph_eDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ph_eDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
