@model Hrm_System.Models.tblWorkshift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblWorkshift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wkshft_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_hrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_hrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_lunch_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_lunch_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_lunch_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_lunch_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_brk_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_brk_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_brk_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_brk_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_xtrabrk_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_xtrabrk_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_xtrabrk_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_xtrabrk_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wkshft_notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wkshft_notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inputter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inputter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wkshft_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
