@model Hrm_System.Models.tblUser

@{
    ViewBag.Title = "PPC - Create User";
}

<h2>Create User</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblUser</legend>

        <div class="editor-label">
            Username
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_name)
            @Html.ValidationMessageFor(model => model.user_name)
        </div>

        <div class="editor-label">
            Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.user_password)
            @Html.ValidationMessageFor(model => model.user_password)
        </div>

        <div class="editor-label">
            User Role
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_role)
            @Html.ValidationMessageFor(model => model.user_role)
        </div>

        <div class="editor-label">
           Employee
        </div>
        <div class="editor-field">
            @Html.DropDownList("emp_id", String.Empty)
            @Html.ValidationMessageFor(model => model.emp_id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
