@model Hrm_System.Models.tblTraining

@{
    ViewBag.Title = "Create";
}

<h2></h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Training Session</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.emp_id,"Employee",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.DropDownList("emp_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.emp_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.course_id, "Course Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.DropDownList("course_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.course_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tr_sdate,"Course Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.EditorFor(model => model.tr_sdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tr_sdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tr_edate,"Course End Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.EditorFor(model => model.tr_edate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tr_edate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tr_status,"Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.EditorFor(model => model.tr_status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tr_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tr_score,"Course Score", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.EditorFor(model => model.tr_score, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tr_score, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tr_comments,"Comments", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-12 col-md-3">
                @Html.EditorFor(model => model.tr_comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tr_comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-12 col-md-3">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
