@model IEnumerable<Hrm_System.Models.tblTraining>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Employee Name
        </th>
        <th>
            Course Name
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Status
        </th>
        <th>
            Score
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblEmployee.emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCours.course_nm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_sdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_edate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tr_score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tr_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tr_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tr_id })
        </td>
    </tr>
}

</table>
