@using PagedList
@using PagedList.Mvc
@model IPagedList<Hrm_System.Models.tblEmployee>

    @{
        ViewBag.Title = "PPC-HRM Employees";
    }

    <h2>Employees</h2>

    <div style="float:right; width:20%;text-align:right;">
        @using (
        Html.BeginForm("Index", "DebitOrder"))
        {@Html.AntiForgeryToken()
        <div class="input-group input-group-sm">
            <input id="SearchBox" type="text" name="name" class="form-control" placeholder="User Id...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
        }
    </div>
    <div style="float:left;width:80%">
        <div class="btn-group btn-group-xs">
            <a class="btn btn-default" href="@Url.Action("Create")"><div style="color:#2facc2">New Employee</div></a>
            @*<button type="button" class="btn btn-default "> @Html.ActionLink("Create New", "Create")</button>*@
        </div>
    </div>
    <hr />
    <table class="table table-striped table-hover table-bordered table-condensed " id="table1">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Branch
                </th>
                <th>
                    Department
                </th>
                <th>
                    Title
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_name)

                    @Html.DisplayFor(modelItem => item.emp_lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblBranch.br_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblDepartment.dpt_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblPosition.pos_title)
                    <a href=" @item.emp_id "></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblEmployeeStatu.empst_title)
                </td>
            </tr>
        }

    </table>
    <hr class="featurette-divider" />
                     <div class="pagination">
                         @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
                     </div>

    <script>
        $(function () {
            $('#hover, #striped, #condensed').click(function () {
                var classes = 'table';

                if ($('#hover').prop('checked')) {
                    classes += ' table-hover';
                }
                if ($('#condensed').prop('checked')) {
                    classes += ' table-condensed';
                }
                $('#table-style').bootstrapTable('destroy')
                    .bootstrapTable({
                        classes: classes,
                        striped: $('#striped').prop('checked')
                    });
            });
        });

        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];

            if (index % 2 === 0 && index / 2 < classes.length) {
                return {
                    classes: classes[index / 2]
                };
            }
            return {};
        }

        $('#table1 tr').click(function () {
            var href = $(this).find("a").attr("href");
            var id = $(this).find("id");
            //alert(href);
            if (href) {
                window.location = "/Employee/Details?id=" + href;
            }
        });
    </script>
