@model Hrm_System.Models.tblCity

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblCity</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.cty_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cty_name)
            @Html.ValidationMessageFor(model => model.cty_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prov_id, "tblProvince")
        </div>
        <div class="editor-field">
            @Html.DropDownList("prov_id", String.Empty)
            @Html.ValidationMessageFor(model => model.prov_id)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
