@model Hrm_SystemCore.Models.tblLeave

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblLeave</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lv_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lv_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lv_bal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lv_bal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblLvType.lvtyp_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblLvType.lvtyp_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblEmployee.emp_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblEmployee.emp_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lv_period)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lv_period)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
